bin
Bin
obj
TestResults
TestResult.xml
drops
*.VisualState.xml
StyleCop.Cache
UpgradeLog*.XML
_UpgradeReport_Files
*.LDF
*~
PrecompiledWeb
*.suo
*.cache
*.user
*.tmp
*.ldf
*.mdf
*.swx
.dotest
_ReSharper*
